<hs-date-picker (modelChange)="handle($event)" (clear-click)="clearClickHandle($event)" [type]="'daterange'" [picker-options]="pickerOptions2">
</hs-date-picker>

<div style="margin-bottom: 20px;"></div>

<hs-date-picker (modelChange)="handle($event)" (clear-click)="clearClickHandle($event)" [type]="'date'" [picker-options]="pickerOptions1">
</hs-date-picker>

<div style="margin-bottom: 20px;"></div>

<button (click)="testApp()" style="margin-bottom: 20px;width: 60px;height: 30px;">测试</button>

<hs-kindeditor [(ngModel)]="content"></hs-kindeditor>